.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #7ed957;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding: 24px 112px;
  box-sizing: border-box;
}

.logo-navbar {
  width: auto;
  height: auto;
}

.navbar-calendar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 260px;
}

.input-calendar {
  width: 156px;
  height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.navbar-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 100%;
}

.navbar-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #e4fde1;
}

.finance-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 48px 112px;
  box-sizing: border-box;
}

.finance-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 140px;
  border-radius: 24px;
  background-color: #ffffff;
  margin-top: 5%;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 112px;
  box-sizing: border-box;
}

.table-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 24px;
  width: 100%;
  min-height: 160px;
  padding: 24px;
  box-sizing: border-box;
}

.table-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 24px;
  box-sizing: border-box;
}

table {
  width: 100%;
  color: #7c7c7c;
}

th {
  text-align: left;
}

tr {
  height: 32px;
}

th.right {
  text-align: right;
}

th.center {
  text-align: center;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

.modal-background {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 4, 0, 0.2);
}

.modal-content {
  width: 480px;
  height: 100%;
  background-color: #f4f4f9;
  padding: 24px;
  box-sizing: border-box;
}

.modal-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
